/*@import url(https://fonts.googleapis.com/css?family=Lato);*/
/**{border:0;padding:0;margin:0;background:50% 50% no-repeat;text-decoration:none;color:inherit;box-sizing:border-box;font-weight:400}*/
/*:focus{outline:0}*/
/*b,b *,strong,strong *{font-weight:700}*/
/*ol,ul{list-style:none}*/
/*button,input,input:not([type]),input[type=color],input[type=text],input[type=time],input[type=url],input[type=week],input[type=button],input[type=reset],input[type=submit],input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],pre,select,textarea{font:inherit}*/
/*@font-face{font-family:aileron;font-style:normal;font-weight:200;src:url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"),url(../fonts/aileron-ultra-light.woff) format("woff"),url(../fonts/aileron-ultra-light.ttf) format("truetype")}*/
.codepen body{margin:10px 0 0}
.codepen body textarea{display:none}
.mce-container textarea{display:inline-block!important}
.mce-content-body{font-family:Lato!important;font-size:14px;color:#626262;padding:0 25px 25px}
.mce-content-body h1,.mce-content-body h2,.mce-content-body h3,.mce-content-body h4,.mce-content-body h5,.mce-content-body h6{font-family:aileron;font-weight:200;line-height:1.4em;margin:25px 0 15px}
.mce-content-body h1{font-size:34px}
.mce-content-body h2{font-size:30px}
.mce-content-body h3{font-size:26px}
.mce-content-body h4{font-size:22px}
.mce-content-body h5{font-size:18px}
.mce-content-body h6{font-size:14px}
.mce-content-body p{margin:25px 0}
.mce-content-body ol,.mce-content-body ul{margin-left:15px;list-style-position:outside;margin-bottom:20px}
.mce-content-body ol li,.mce-content-body ul li{margin-left:10px;margin-bottom:10px;color:#626262}
.mce-content-body ul{list-style-type:disc}
.mce-content-body ol{list-style-type:decimal}
.mce-content-body a[href]{text-decoration:underline}
.mce-content-body table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}
.mce-content-body table tr:nth-child(even){background:#FAFAFA}
.mce-content-body table caption,.mce-content-body table td,.mce-content-body table th{padding:15px 7px;font:inherit}
.mce-content-body table th{font-weight:400;color:#6E6E6E;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}
.mce-content-body table th:last-child{background:0 0}
.clear{
    clear: both;
}
.room-image-container{
    display: inline-block;
    position: relative;
    width: 200px;
    overflow: hidden;
    margin: 5px;
}
.room-image-container img{
    width: 100%;
}
.room-image-container span{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #fff;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.sidebar-menu>li>a {
    padding: 9px 5px 9px 15px;
}
.selected-container{
    border: 4px solid #5d544d;
}
th:hover{
    cursor: pointer;
    background: #888;
}
.icon-box, .icon-box-fas{

    overflow: scroll;
}
.icon-box .icon,.icon-box-fas .icon{
    margin-left: 20px;
}
.icon-box img,.icon-box-fas img{
    margin: 5px 5px 5px 20px;
}
.icon-box .icon::before,.icon-box-fas .icon::before{
    font-size: 3em;
}
.img{
    height: 100px;
    overflow: hidden;
}
.help-block{
    margin: 0;
}
#mceu_5{
    margin-bottom: 10px;
}
#videoEditForm{
    width: 1050px;
}
#videoEditForm a{
    position: absolute;
    left: 450px;
}

.price button, .btn-adm{
    margin-top: 10px;
    margin-bottom: 30px;
}
.mce-tinymce button{
    margin: 0;
}
.inf{
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fcf8e3;
    color: #c09853;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    border-radius: 4px;
}
.inf p{
    margin: 0;
}
.jd-logo{
    position: absolute;
    top: 0;
    left: 0;

}
table{
    max-width: 100%;
}
th {
    background-color: #656565;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px;
    color: #fff;
    text-shadow: #414141 0 1px 0px;
    line-height: 40px;
}
.table-bordered{
    border-radius: 4px;
}
.gallery-box{
    height: 400px;
    overflow-y: scroll;
}
.gallery-box .img {
    width: 141px;
    height: 105px;
    overflow: hidden;
}
#myModalBox .modal-body img{
    width: 100%;
}
/*
td{
    padding: 10px;
    border: 1px solid black;
}
*/
iframe{
    width: 400px;
    height: 225px;
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 0;
    }
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .main-sidebar {
        width: 0 !important;
    }
}

#dropped-files .image{
    /*background-size: cover;*/
    background-repeat: no-repeat;
}


.desctop-switcher.active{
    background: #fff;
    border: 1px solid #888;
    border-radius: 2px;
    outline: none;
    color: #000;
}
.desctop-switcher{
    color: #ccc;
}

.table-striped.table-bordered thead a{
    color: #fff;
}















